:root {
  --text-color: #fff;
  --background-color: #000;
}

* {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
} 

h1 {
  color: var(--text-color);
  align-items: center;
  margin: 5rem 0rem 50rem 0rem;
  font-size: 5rem;
  text-align: center;
}

footer {
  color: var(--text-color);
  align-items: center;
  margin: 0rem 0rem 5rem 0rem;
}
