:root {
}

* {
}

html {
  font-size: 62.5%;
}

header {
  margin: 0.25rem 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  visibility: visible;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}

.timer {
  visibility: visible;
}


#quesiton ul ~ li {
  font-size:4rem;  
}
